@import "tailwindcss";

@theme {

  --font-sans: 'Nunito', sans-serif;

  --color-background: #F9FAFB;

  --color-green-100: #E8F5EE;
  --color-green-200: #DDE9E2;
  --color-green-300: #B8D2C3;
  --color-green-400: #00993E;
  --color-green-primary: #1A6E3C;
  --color-green-hover: #176336;
  --color-green-500: #155830;
  --color-green-600: #14532D;
  --color-green-700: #104224;
  --color-green-800: #0C311B;
  --color-green-900: #092715;
  --color-green-bg-card: #EFF8E9;

  --color-teal-100: #EBF8F7;
  --color-teal-200: #E1F4F3;
  --color-teal-300: #C1E9E7;
  --color-teal-primary: #37B7B0;
  --color-teal-hover: #32A59E;
  --color-teal-400: #2C928D;
  --color-teal-500: #298984;
  --color-teal-600: #216E6A;

  --color-white-primary: #FFFFFF;
  --color-white-hover: #E6E6E6;
  --color-white-100: #E8E5E5;
  --color-white-200: #D9D9D9;
  --color-white-300: #CFCFCF;
  --color-white-400: #BFBFBF;
  --color-white-500: #9DA0A7;
  --color-white-600: #6B7280;

  --color-red-100: #FEE8E8;
  --color-red-200: #FEDDDD;
  --color-red-300: #FCB9B9;
  --color-red-primary: #F51C1C;
  --color-red-hover: #DD1919;
  --color-red-600: #C41616;
  --color-red-700: #B81515;

  --color-orange-100: #FCF3EA;
  --color-orange-200: #FFF8EB;
  --color-orange-300: #FAEDDF;
  --color-orange-400: #F5DABD;
  --color-orange-primary: #DF8729;
  --color-orange-hover: #C97A25;
  --color-orange-600: #B26C21;

  --color-yellow-100: #FEF8E7;
  --color-yellow-200: #FDF5DB;
  --color-yellow-300: #FBEBB5;
  --color-yellow-primary: #F1BD0F;
  --color-yellow-400: #D9AA0E;
  --color-yellow-500: #C1970C;

  --color-blue-100: #E8EFF7;
  --color-blue-200: #DDE7F3;
  --color-blue-300: #B9CEE6;
  --color-blue-primary: #1C60AF;
  --color-blue-400: #19569E;
  --color-blue-500: #164D8C;
  --color-blue-600: #154883;
  --color-blue-bg-card: #EBF1FD;

  --color-violet-100: #F3EFFB;
  --color-violet-200: #EEE7F9;
  --color-violet-300: #DBCEF3;
  --color-violet-primary: #8B60D8;
  --color-violet-400: #7D56C2;
  --color-violet-500: #6F4DAD;
  --color-violet-600: #6848A2;
  --color-violet-bg-card: #F7F0FF;

  --color-black-100: #6C7381;
  --color-black-primary: #000000;
  --color-black-200: #515151;

  --shadow-card: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  --shadow-card2: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--font-sans);
}

@keyframes slideDown {
  from {
    transform: translateY(-20px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 0.8s linear infinite;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideRight 0.25s cubic-bezier(0, 0, 0.2, 1);
}